cpu_vad/model_output_cpu_vad/
cpu_vad/runs/
cpu_vad/test_dataset/
cpu_vad/train_log/
cpu_vad/__pycache__/
runs/
model_output/
Speech-Denoise/result/
py-webrtcvad/cut_audio_py/
gen_text_grid.py
Speech-Denoise/model_1_silent_interval_detection/audioonly_model/calculate_precision_recall.py
Speech-Denoise/model_1_silent_interval_detection/audioonly_model/infer_voi_1file.py
Speech-Denoise/model_1_silent_interval_detection/audioonly_model/val_infer.py